<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>

<body class="center">
    <h1>Add Encounter</h1>
    <div>
        <form th:object="${encounter}" th:action="@{../saveEncounter/{id}(id=${encounter.getPatient().getId()})}" action="#" method="post">

            <input type="hidden" id="patient" th:field="*{patient}" />

            <label for="MRN">Patient MRN: </label>
            <a th:text="${encounter.getPatient().getMrn() }"> </a>
            <label for="lname"> | </label>
            <a th:text="${encounter.getPatient().getlName()}"> </a>
            <label for="fname"> , </label>
            <a th:text="${encounter.getPatient().getfName()}"> </a>
            <label for="dob"> (</label>
            <a th:text="${encounter.getPatient().getDateofBirth()}"> </a>
            <label for="dob">)</label>
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="contactDate">Date</label>
            <input type="date" id="contactDate" th:field="*{contactDate}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="rfv">Reason for Visit</label>
            <input type="text" id="rfv" th:field="*{rfv}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="heartRate">Heart Rate</label>
            <input type="number" th:field="*{heartRate}" placeholder="60" pattern="[0-9]{3}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="bloodPressure">Blood Pressure</label>
            <input type="text" th:field="*{bloodPressure}" placeholder="120/80" pattern="[0-9]{3}/[0-9]{1,3}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="respiratoryRate">Respsiratory Rate</label>
            <input type="number" th:field="*{respiratoryRate}" placeholder="12" pattern="[0-9]{3}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="spO2">spO2</label>
            <input type="number" min="0" max="100" th:field="*{spO2}" placeholder="100"  required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="temp">Temperature</label>
            <input type="number" th:field="*{temp}" placeholder="98.6" required />
            <div style="clear: both; display: block; height: 10px;"></div>

    </div>

    <input type="submit" value="Save"></input>
    </form>
    </div>
</body>

</html>