<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<h1>Add Patient</h1>
	<div>
		<form th:object="${patient}" th:action="@{save}" action="#" method="post">

		  	<label for="mrn">MRN</label>
			<input type="number" id="mrn" th:field="*{mrn}" required/><div style="clear: both; display: block; height: 10px;"></div>

		  	<label for="fName">Firt Name</label>
			<input type="text" id="fName" th:field="*{fName}" required/>
			<div style="clear: both; display: block; height: 10px;"></div>

		  	<label for="lName">Last Name</label>
			<input type="text" th:field="*{lName}" required/>
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="dateOfBirth">Date of Birth</label>
			<input type="text" id="dateofBirth" th:field="*{dateofBirth}" required/>
			<div style="clear: both; display: block; height: 10px;"></div>
            
			</div>
			
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>

</html>