<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Patient List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<div class="col-md-4" style="float: right; padding:20px 0">

		<form th:action="@{/logout}" method="post">
			<span sec:authentication="name" ; style="font-weight:bold;">Name </span> <input type="submit"
				value="Sign Out" class="btn btn-sm btn-danger" />
		</form>
	</div>

	<div class="container">
		<div class="col-md-4">
			<h1>Vitals Clinic </h1>
		</div>

		<div class="col-md-4">
			<h3 th:inline="text">My Patients</h3>
		</div>

		<table class="table table-striped">
			<tbody>
				<tr>
					<th>MRN</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Date of Birth</th>
					<th> </th>
					<th sec:authorize="hasAuthority('ADMIN')"> </th>
				</tr>
				<tr th:each="patient : ${patients}">
					<td>
						<a th:href="@{/encounter/{id}(id=${patient.id})}" th:text="${patient.mrn}"> </a>

					</td>
					<td th:text="${patient.fName}"></td>
					<td th:text="${patient.lName}"></td>
					<td th:text="${patient.dateofBirth}"></td>
					<td><a th:href="@{/edit/{id}(id=${patient.id})}">Edit Patient Details</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${patient.id})}" class="btn btn-danger">Delete</a></td>

				</tr>
			</tbody>
		</table>


		<a href="/add" class="btn btn-success">New Patient</a>
</body>

</html>